/**
 * styles.css
 * by: Anneke ter Schure, 6084087
 * Global CSS.
 */

#wrapper {
    margin: inherit;
    align-content: left;
    background: black;
}

/**
 * styles for map
 */
#map {
    float: left;
    width: 700px;
    height: 450px;
    background-color: #F1F5FF;
}

path:hover {  opacity:0.7; }

#header {
    background-color: white;
    color: steelblue;
    text-align: left;
    font-size: 16px;
    font-family: Trebuchet MS;
    min-width: 80%;
    height: 50px;
}

#footer {
    clear: both;
    background-color:white;
    position: bottom;
    text-align: left;
    font-size: 12px;
    font-family: sans-serif;
    bottom: 0;
    min-width: 80%;
    height: 40px;
}
